<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkJONoI8aoFCvO1Shly44Q0q7HHWZuPuw</string>
	<key>GCM_SENDER_ID</key>
	<string>6149966850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voyeaseFrontend</string>
	<key>PROJECT_ID</key>
	<string>voyease-83b9b</string>
	<key>STORAGE_BUCKET</key>
	<string>voyease-83b9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6149966850:ios:f7fd0c7a3d083127fceb1b</string>
</dict>
</plist>